#debug_console {
  z-index: 1000000;
  width: 100vw;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0; right: 0;
  margin: auto;
  padding: 1em;
  background: #888;
}
#debug_close {
  position: absolute;
  top: 2px;
  right: 2px;
}
#debug_open {
  position: absolute;
  top: 2px;
  right: 2px;
}
.debug.box {
  border: 2px solid black;
  border-radius: 4px;
  padding: 5px;
}
